# directories
node_modules
proxy/src/cache
tests/puppeteer-chrome-profile

# files
*.log
.DS_Store
proxy/src/certificates/*
!proxy/src/certificates/rootCA.crt
!proxy/src/certificates/rootCA.key
tests/rules/testData.json
