# directories
anyproxy/cache
node_modules
tests/puppeteer-chrome-profile

# files
*.log
.DS_Store
anyproxy/src/certificates/*
!anyproxy/src/certificates/rootCA.crt
!anyproxy/src/certificates/rootCA.key
